{% extends 'layout/html.html' %}

{% block content %}
    <h1> Welcome to Apartment Finder! This is the home page, used for testing purposes.</h1>
{% endblock %}

{% block styles %}
    <!--style sheet-->
    <link rel="stylesheet" href="{{ base_url() }}/../../PUBLIC/shared/css.css">
    <link rel="stylesheet" href="{{ base_url() }}/../../TEMPLATES/DEBUG/css.css">
{% endblock %}

{% block scripts %}
    <!--javascript-->
    <script type="module" src="{{ base_url() }}/../../PUBLIC/shared/js.js"></script>
    <script src="{{ base_url() }}/../../TEMPLATES/DEBUG/js.js"></script>
{% endblock %}