#imageColumn {
    padding: 0px;   
}

.carousel, .carousel-inner, .carousel-item, .carousel-item > img {
    width: 100%;
    height: auto;
    max-height: 350px;
}

span > h1, span > h2, span h3, span h4, span h5, span h6{
    display: inline-block;
}

.chip {
    padding-right: 15px;
    background-color: #17a2b8;
}