{% extends 'layout/html.html' %}

{% block content %}
    <div class="row justify-content-md-center formContainer">
        <div class="card" id="formCard">
            <div class="card-body" id="formBody">
                <h1 class="card-title row" id="formTitle">
                    {% if login %}
                        Welcome Back!
                    {% else %}
                        Create An Account!
                    {% endif %}
                </h1>
                <span id="formState">
                    {% if login %}
                        login
                    {% else %}
                        signup
                    {% endif %}
                </span>
                <div class="form-group"
                    {% if login %}
                        style="display: none;"
                    {% endif %}
                >
                    <label for="name">Name</label>
                    <input id="name" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input  id="email" type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group passwordShowHide">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <input id="password" type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary showHide" type="button">
                                <i class="hide far fa-eye-slash" style="display:none;"></i><i class="show far fa-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group passwordShowHide"
                    {% if login %}
                        style="display: none;"
                    {% endif %}
                >
                    <label for="confirmPassword">Confirm Password</label>
                    <div class="input-group">
                        <input id="confirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary showHide" type="button">
                                <i class="hide far fa-eye-slash" style="display:none;"></i><i class="show far fa-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="error" class="alert-danger p-2 mb-2"></div>
                <div >
                    <a href="#">
                        <h6 id="switcher">
                            {% if login %}
                                Don't have an Account?
                            {% else %}
                                Already Have an Account?
                            {% endif %}
                        </h6>
                    </a>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary" id="submitButton">
                            {% if login %}
                                Log In
                            {% else %}
                                Sign Up
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block styles %}
    <!--style sheet-->
    <link rel="stylesheet" href="{{ base_url() }}/../../PUBLIC/shared/css.css">
    <link rel="stylesheet" href="{{ base_url() }}/../../TEMPLATES/authentication/css.css">
{% endblock %}

{% block scripts %}
    <!--javascript-->
    <script type="module" src="{{ base_url() }}/../../PUBLIC/shared/js.js"></script>
    <script type="module" src="{{ base_url() }}/../../TEMPLATES/authentication/js.js"></script>
{% endblock %}